<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
</head>
<body>
    <h1><i>Your post in details</i></h1>
    <form method="get" action="/users">
        <label for="userId">userId :- </label>
        <input type="text" id="userId" name="userId" readonly maxlength="50" value="<%= result[0].userId%>">
        <br><br>
        <label for="username">username :- </label>
        <input type="text" id="username" name="username" readonly maxlength="50" value="<%= result[0].username%>">
        <br><br>
        <label for="email">email :- </label>
        <input type="text" id="email" name="email" readonly maxlength="50" value="<%= result[0].email %>">
        <br><br>
        <label for="password">password :- </label>
        <input type="text" id="password" name="password" readonly maxlength="50" value="<%= result[0].password %>">
        <br><br>
        <button>Back</button>
    </form>
</body>
</html>