<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
</head>
<body>
    <h1 style="color: red; text-decoration: underline;"><i>SOME THING WENT WRONG WITH DATABASE</i></h1>
</body>
</html>