<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newUser</title>
</head>
<body>
    <h1><i>Create New User</i></h1>
    <form method="post" action="/users">
        <label for="username">Enter your username :- </label>
        <input type="text" id="username" name="username" required maxlength="50" placeholder="Enter your username here!">
        <br><br>
        <label for="email">Enter your email :- </label>
        <input type="text" id="email" name="email" required maxlength="50" placeholder="Enter your email here!">
        <br><br>
        <label for="password">Enter your password :- </label>
        <input type="text" id="password" name="password" required maxlength="50" placeholder="Enter your password here!">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>