* {
    padding: 0px;
    margin: 0px;
}

.mainDiv {
    height: 100%;
    width: 20%;
    margin-left: 5px;
    /* padding: 5px; */
    border: 1px solid black;
    background-color: rgba(186, 176, 152, 0.818);
}

.optionsDiv {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
    animation: 800ms linear;
}

.optionsDiv:hover {
    box-shadow: 3px 3px 10px #5f5b6bff; 
}

#title {
    margin-top: 20px;
}

/* --graphite: #323031ff;
--graphite-2: #3d3b3cff;
--grey: #7f7979ff;
--silver: 
--charcoal: */