h1 {
    text-align:center ;
}

div {
    margin: 0px auto;
}

h3 {
    text-align: center;
}

button {
    /* display: inline-block;
    margin: 0px auto; */
    position: relative;
    left: 750px;
}