/* h1 {
    color: red;
    text-align: center;
    text-decoration: dotted red overline;
}

span {
    text-decoration: solid green underline;
}

pre {
    background-color: bisque;
    color: yellowgreen;
}

button {
    color: gold;
    background-color: black;
} */

h1 {
    text-decoration: red line-through;
}

#left {
    text-align: left;
    font-weight: 200;
    line-height: normal;
}

#right {
    text-align: right;
    font-weight: 600;
    line-height: 3;
}

#center {
    text-align: center;
    line-height: 0.9;
}

#justify {
    text-align: justify;
}

p::selection {
    background-color: limegreen;
}