.div {
    height: 200px ;
    width: 800px;
    border: 2px solid black;
    padding: 23px;
    margin: 5px;
    border-radius: 5px;
    border-left: 2px dotted blue;
    border-top: 1px dashed pink;
    border-right: 3px solid red;
    /* border-style: dotted double dashed solid; */
    border-left-style:outset;
}

.para {
    text-align: justify;
}

#outer {
    height: 400px;
    width: 450px;
    background-color: pink;
    margin: 50px;
}

#inner {
    height: 50%;
    width: 25%;
    background-color: cornflowerblue;
    margin-left: 50%;
    margin-top: 10%;
}

.unitDiv {
    font-size: 1.5em;
}