<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ig</title>
</head>
<body>
    <h1><i>This is home page of <strong>ig</strong></i></h1>
</body>
</html>